@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

:root {
    --primario: #f67e7c;
    --secundario: #f46663;
    --terceira: #e94644;
    --background: #f8f8f8;
    --background1: #f3f3f3;
}

body, head {
    padding: 0;
    margin: 0;
}
body{
    background-color: #EDEDED;
    font-family: "poppins";
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-color: var(--secundario);
    width: 18%;
    height: 100vb;
    border-right: 3px solid var(--terceira);
}
.main{
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inserirDados{
    background-color: var(--background1);
    width: 55%;
    padding-block: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 1px 1px 2px black;
}
.part {
    width: 100%;
    display: flex;
    gap: 5px;
    margin-block: 5px;
    flex-direction: column;
    justify-content: start;
    input, select {
        padding: 8px;
        border-radius: 5px;
        background-color: var(--background);
        border: none;
        border: 1px solid grey;
    }
}
.subpart {
    display: flex;
    gap: 20px;
}
.title {
    margin: 0px;
    padding: 0px;
    width: 90%;
    text-align: start;
}
.form {
    width: 90%;
}
#enviar {
    background-color: var(--terceira);
    width: 90%;
    padding-block: 15px;
    border-radius: 15px;
    font-size: 100%;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 100%;
    cursor: pointer;
    transition: 0.2s ease;
}
#enviar:hover {
    filter: brightness(90%);
}
.titulo img {
    width: 25%;
    padding-top: 10%;
}
.redirectButton {
    display: flex;
    color: black;
    align-items: center;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.2s ease;
    width: 99%;
    margin-bottom: 5px;
    i, img {
        margin-inline: 20px;
    }
}
.redirectButton:hover {
    scale: 1.03;
    background-color: var(--primario);
    border-left: 10px solid red;
    width: calc(99% - 5px);
}
.searchTask{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 13%;
}
.procurar{
    width: 80%;
    height: 50%;
    border-radius: 10px;
    background-color: var(--background);
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    > * {
        border: none;
        background-color: transparent;
        height: 100%;
    }
    i {
        height: 20px;
    }
    input {
        text-indent: 20px;
        width: 90%;
        font-size: 100%;
    }
}
.procurar:hover {
    border: 2px solid black;
    border-color: var(--terceira);
}
.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background1);
    height: 90%;
    width: 70%;
    border-radius: 20px;
    box-shadow: 1px 1px 2px black;
}
#descricao{
    margin: 0;
    font-weight: bold;
}
.infos:hover #descricao, .infos:hover  #local {
    color: white;
}
#local{
    margin: 0;
    font-size: 70%;
}
.local{
    font-style: italic;
}
.botao{
    display: flex;
    flex-direction: column;
    justify-content: end;
    button{
        background: none;
        border: none;
        width: 20%;
    }
    i{
        font-size: 180%;
    }
}
.afazeres {
    height: 75dvh;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}

details summary {
    list-style: none;
    display: flex;
    align-items: center;
    &::after {
        content: "▼";
        color: black;
        font-size: 100%;
        font-weight: bold;
        padding: 0 5px;
    }
    [open] &::after {
        content: "▶";
    }
}
details summary::-webkit-details-marker {
    display: none;
}
summary{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.item{
    background-color: #84D254;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    order: 0;
}
.outras{
    cursor: default;
    width: 100%;
    p{
        margin: 1%;
        margin-left: 15px;
        text-align: left;
    }
}
.outras-title {
    font-weight: bolder;
}
.infos {
    margin-left: 15px;
    i {
        margin-right: 10px;
    }
}
#modelo-tabela {
    display: none;
}

.prioridade-urgente {
    order: -2;
    background-color: #D8534E;
}
.prioridade-normal {
    background-color: #FFE55C;
    order: -1;
}
#recarregar {
    height: 40px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}
#recarregar:hover {
    scale: 1.2;
}